*$py.class
.DS_Store
.idea
.vagrant
.gem
.tugboat
/coverage
/reports
/.deploy
/.mop
console.log
Library/
npm-debug.log
output-virtualbox-iso/
packer_cache/
packer_virtualbox-iso_virtualbox.box
SikuliLog.txt
.viminfo
