.ModalOverlay {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    color: hsl(0, 0%, 90%);
    font-size: .9em;
    line-height: 1.2;
    background-color: hsla(0, 0%, 25%, 0.9);
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.ModalOverlay.ModalOverlay-noDisplay {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.ModalOverlay-switcher {
    margin: auto;
}

.ModalOverlay-item {
    padding: 16px;
    text-align: center;
}

.ModalOverlay-warning {
    margin: 0 0 16px 0;
    padding-left: 8px;
    font-size: 1.2em;
}

.ModalOverlay-warning em {
    color: white;
}

.ModalOverlay-footer {
    margin-top: 22px;
    text-align: center;
}

.ModalOverlay-footer .matte-Button:last-child {
    margin-right: 0;
}
