.Toolbar {
    position: relative;
    z-index: 50;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 34px;
    font-size: 13px;
    color: hsl(0, 0%, 70%);
    padding-bottom: 1px; /* Fixes vertical centering */
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    border-bottom: 1px solid hsla(0, 0%, 0%, .2);
    background-color: hsl(0, 0%, 20%);
}

.Toolbar-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.Toolbar-group:first-child {
    border-right: none;
}

.Toolbar-link {
    text-decoration: none;
    color: inherit;
    padding: 0 1em;
    white-space: nowrap;
}

.Toolbar-link:hover {
    color: hsl(0, 0%, 100%);
}

.Toolbar-link:active {
    color: hsl(0, 0%, 50%);
}

.Toolbar-logo {
    margin: 0 4px 0 8px;
    width: 40px;
    height: 20px;
    vertical-align: middle;
}

.Toolbar-avatar {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
}

.Toolbar .Toolbar-username {
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.Toolbar .matte-ButtonGroup {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 7px;
    line-height: 0;
}

.Toolbar .mainMenu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 7px;
    line-height: 0;
}


/* Toolbar Button */

.MenuItem:last-child {
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.MenuItem-button.matte-Button {
    display: inline-block;
    height: 33px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: hsl(0, 0%, 70%);
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-left: 1px solid hsla(0, 0%, 0%, 0.2);
    background: hsla(0,0%,0%,0);
    white-space: nowrap;
}

.MenuItem-button.matte-Button:hover {
    background: hsl(0, 0%, 28%);
}

.Toolbar-button.matte-Button.active {
    background: hsl(0, 0%, 20%);
}

.Toolbar-button.matte-Button:focus {
    border-color: hsla(0, 0%, 0%, 0.3);
}

.Toolbar-button.matte-Button.disabled:hover {
    background-color: hsla(0,0%,0%,0);
}
