.Toolbar {

}

.Toolbar-group {
    display: -webkit-flex;
    -webkit-align-items: center;
}

.Toolbar-avatar {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
}

.Toolbar-username {
    margin: 0 8px 0 8px;
    font-size: 13px;
    vertical-align: middle;
    color: hsl(0, 0%, 50%);
}