.Toolbar {

}

.Toolbar-avatar {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
}

.Toolbar-username {
    margin: 0 0 0 4px;
    font-size: 13px;
    vertical-align: middle;
    color: hsl(0, 0%, 50%);
}