.Toolbar {
    position: relative;
    z-index: 1;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    height: 34px;
    padding-bottom: 1px; /* Fixes vertical centering */
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    border-bottom: 1px solid hsla(0, 0%, 0%, .2);
    background-color: hsl(0, 0%, 25%);
}

.Toolbar-group {
    display: -webkit-flex;
    -webkit-align-items: center;
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.Toolbar-group:first-child {
    border-right: none;
}

.Toolbar-link {
    text-decoration: none;
    cursor: pointer;
}

.Toolbar-logo {
    margin: 0 4px 0 8px;
    width: 40px;
    height: 20px;
    vertical-align: middle;
}

.Toolbar-avatar {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
}

.Toolbar-username {
    font-size: 13px;
    margin: 0 8px 0 8px;
    vertical-align: middle;
    color: hsl(0, 0%, 50%);
}

.Toolbar .matte-ButtonGroup {
    display: -webkit-flex;
    margin: 0 7px;
    line-height: 0;
}

.Toolbar .mainMenu {
    display: -webkit-flex;
    margin: 0 7px;
    line-height: 0;
}


/* Toolbar Button */

.Toolbar-button.matte-Button {
    display: inline-block;
    height: 33px;
    margin: 0;
    font-family: inherit;
    font-size: 13px;
    color: hsl(0, 0%, 60%);
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
    background: hsla(0,0%,0%,0);
}

.Toolbar-button.matte-Button:hover {
    background: hsl(0, 0%, 28%);
}

.Toolbar-button.matte-Button.active {
    background: hsl(0, 0%, 20%);
}

.Toolbar-button.matte-Button:focus {
    border-color: hsla(0, 0%, 0%, 0.3);
}
