.ToolBarContextualMenu-menu {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid hsla(0, 100%, 100%, 0.12);
    border-bottom: 1px solid hsl(0, 0%, 28%);
    background: hsl(0, 0%, 25%);
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.3);
}

/* list ------------------------- */
.ToolBarContextualMenu-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ToolBarContextualMenu-list > li {
    padding: 0;
    margin: 0;
}

/* button ----------------------- */
.ToolBarContextualMenu-list button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: left;
    height: auto;
    min-height: 23px;
    line-height: 20px;
    min-width: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: hsl(0, 0%, 70%);
    background: none;
}

.ToolBarContextualMenu-list button:hover {
    color: hsl(0, 0%, 81%);
    background-color: hsl(0, 0%, 36%);
}

.ToolBarContextualMenu-list .matte-Button.active {
    border-color:  hsl(0, 0%, 22%);
    background-color: hsl(0, 0%, 24%);
}
.ToolBarContextualMenu-list button:focus {
    border-color: hsl(0, 0%, 22%);
}
