.MergeConflictPanel {

}

.MergeConflictPanel-content {
    text-align: left;
}

.MergeConflictPanel p {
    margin-bottom: 0.75rem;
}

.MergeConflictPanel ul {
    list-style-type: none;
    white-space: nowrap;
    padding-start: 0em;
    -webkit-padding-start: 0em;
    -moz-padding-start: 0em;
    -ms-padding-start: 0em;
}

.MergeConflictPanel label {
    cursor: pointer;
}

/* Link --------------------------------- */

.MergeConflictPanel .ViewCommit-link-container {
    padding-bottom: 0.8rem;
    text-align: center;
}

.MergeConflictPanel .ViewCommit-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MergeConflictPanel .ViewCommit-link-noDisplay {
    display: none;
}

.MergeConflictPanel .ViewCommit-link:hover {
    color: hsl(0, 0%, 60%);
}

.MergeConflictPanel .ViewCommit-link:active {
    color: hsl(0, 0%, 100%);;
}
