.MergePanel {
    font-size: 1.2em;
}

/* Message --------------------------------- */

.MergePanel-message {
    text-align: left;
}

.MergePanel-link {
    color: inherit;
}

.MergePanel-link:hover {
    color: hsl(0, 0%, 100%);
}

.MergePanel-link:active {
    color: hsl(0, 0%, 50%);
}


/* Form --------------------------------- */

.MergePanel-content {
    text-align: left;
}

.MergePanel-group {
    border: none;
    padding: 0;
    margin: 1em 0;
}

.MergePanel-group--input {
    margin-left: 30px;
}

.MergePanel-label {
    
}

.MergePanel-input.matte-Textarea {
    display: block;
    width: 44em;
    height: 6em;
    margin-top: 0.5em;
    font-size: 13px;
    font-family: monospace;
    resize: vertical;
}


