.Workflow,
.Workflow-panel{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Workflow {
    color: hsl(0, 0%, 84%);
}

.Workflow-branchName {
    font-size: 16px;
    line-height: 1;
}

.Workflow-segment {
    padding: 0 0.5em;
}

.Workflow-shadowDelta {
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    border-radius: 4px;
    background-color: hsl(0, 0%, 36%);
}

.Workflow-status {
    font-size: 13px;
    color: hsl(0, 0%, 64%);
}

.Workflow-status-count {
    color: hsl(0, 0%, 100%);
}
