.Workflow,
.Workflow-panel{
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

.Workflow {
    color: hsl(0, 0%, 86%);
}

.Workflow-branchName {
    text-shadow: 0 -1px 0 hsl(0, 0%, 23%);
    font-size: 18px;
    line-height: 22px;
}

.Workflow-segment {
    padding: 0 0.5em;
}
