.MenuItem {

}

.MenuItem-button {
    display: block;
}

/* display the key shortcut */
.MenuItem-button[data-shortcut] {

}
.MenuItem-button[data-shortcut]:after {
    content: attr(data-shortcut);
    padding: 0 2px;
    margin-left: 8px;
    float: right;
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 80%);
    border-radius: 4px;
    font-size: 10px;
}